
.icon  {
    font-size: 38px;
  }
  .header {
    display: flex;
    align-items: center;
  }

  .content {
    >div {
  
      display: contents !important;
    }
    display: contents !important;
  }
  .ml-1 {
    margin-left: 5px;
  }
  
  