      <ion-header class="flex header">
        <ion-toolbar>
            <ion-title>Editar (Mi Perfil)</ion-title>
          </ion-toolbar>
            <ion-icon (click)="cancel()" class="icon" name="close-outline"></ion-icon>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Introduzca su nombre"
            labelPlacement="stacked"
            type="text"
            placeholder="Nombre"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Introduzca su Apellido"
            labelPlacement="stacked"
            type="text"
            placeholder="Apellido"
            [(ngModel)]="lastName"
          ></ion-input>
        </ion-item>
        <ion-item>
            <ion-input
              label="Introduzca el Correo"
              labelPlacement="stacked"
              type="email"
              placeholder="Correo"
              [(ngModel)]="email"
              disabled
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Introduzca el Password"
              labelPlacement="stacked"
              type="password"
              placeholder="Password"
              [(ngModel)]="password"
            ></ion-input>
          </ion-item>
        <ion-item>
          <ion-input
            label="Introduzca su Identificación"
            labelPlacement="stacked"
            type="text"
            placeholder="Identificación"
            [(ngModel)]="id"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Introduzca su Puesto"
            labelPlacement="stacked"
            type="text"
            placeholder="Puesto"
            [(ngModel)]="position"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Introduzca su telefono"
            labelPlacement="stacked"
            type="number"
            placeholder="Telefono"
            [(ngModel)]="phone"
          ></ion-input>
        </ion-item>
        <ion-item>
          <div>
            <!-- <p>Hora de entrada: </p> -->
            <ion-input
            label="Hora de entrada:"
            labelPlacement="stacked"
            type="text"
            placeholder="Hora"
            [(ngModel)]="hourIn"
          ></ion-input>
            <!-- <ion-datetime-button datetime="datetime1"></ion-datetime-button> -->
          </div>
          <!-- <ion-modal class="modal-time" [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime1" value="2022-04-21T22:20:00"  presentation="time"></ion-datetime>
            </ng-template>
          </ion-modal> -->
        </ion-item>
        <ion-item>
          <div>
            <!-- <p>Hora de salida: </p> -->
            <!-- <ion-datetime-button datetime="datetime1"></ion-datetime-button> -->
            <ion-input
            label="Hora de salida:"
            labelPlacement="stacked"
            type="text"
            placeholder="Hora"
            [(ngModel)]="hourOut"
          ></ion-input>
          </div>
          <!-- <ion-modal class="modal-time" [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime1" value="2022-04-21T22:20:00"  presentation="time"></ion-datetime>
            </ng-template>
          </ion-modal> -->
        </ion-item>
      </ion-content>
        <div class="button-opt">
            <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancelar</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
              </ion-toolbar>

        </div>