.button-opt {
    background: #ffffff !important;
    border-top: 1px solid #e2e2e2;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
  }
  .header {
    display: flex;
    align-items: center;
    background: #e7e5e5;
  }
  .icon  {
    font-size: 38px;
  }
  .back {
    background: #e7e5e5 !important;
    width: 88%;
    padding: 12px 0px;
  }
