.button-opt {
    background: #ffffff !important;
    border-top: 1px solid #e2e2e2;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
  }
  .header {
    display: flex;
    align-items: center;
  }
  .icon  {
    font-size: 38px;
  }
