.container{
    height: 93vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #2f4078;
}
.row{
    background-color: #fff;
    
    border: solid 1px #dcd9d9;
    padding: 16px;
    // width: 92%;
}
.col {
    // padding: 37px;
}
.item{
    margin: 15px 0px;
}
.text-decoration{
    text-decoration: none;
}


  .button-opt {
    background: #ffffff !important;
    border-top: 1px solid #e2e2e2;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
  }

@media only screen and (max-width:426px) {
    .row {
        width: 92%;
    }
    // .container{
    //     display: flex;
    //     justify-content: center;
    // }
}