<ion-content>
  <div class="container">
    <ion-title class="ion-no-padding ion-text-center">Iniciar sesion</ion-title>
    <p class="ion-text-center">Introduzca su usuario y contraseña para iniciar sesion</p>
    <form [formGroup]="formLogin" class="ion-margin">
      <div class="item">
        <ion-input formControlName="email" label="Usuario" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
      <div class="item">
        <ion-input formControlName="password" label="Clave" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
    </form>
    <ion-button expand="full" (click)="login()" class="ion-margin">Iniciar Sesion</ion-button>
    <p class="ion-text-center">Aun no tienes cuenta? <a (click)="navigate('register')" class="text-decoration">Registrate</a></p>

  </div>
</ion-content>