<ion-header class="flex header">
    <ion-toolbar>
        <ion-title>Versión</ion-title>
      </ion-toolbar>
        <ion-icon (click)="goToHome()" class="icon" name="arrow-back-circle-outline"></ion-icon>
  </ion-header>
  <ion-content>
      <div class="uk-container">
      
        <div class="uk-card uk-card-default uk-card-body uk-text-left uk-margin-top">
          <h3 class="uk-card-title title">Flai App <span>&reg;</span></h3>
          <p class="item web-font-medium"><span class="uk-text-bold">Versión:</span> <span>{{version}} </span></p>
          <p class="item web-font-medium"><span class="uk-text-bold">Fecha:</span> <span>{{date}} </span></p>
          <p class="item web-font-medium"><span class="uk-text-bold">Autores:</span> <span>{{authors}} </span></p>
          <p class="item web-font-medium"><span class="uk-text-bold">Copyright:</span> <span>{{copyright}} &copy; </span></p>
      </div>
      </div>

  </ion-content>
    
    
  