<ion-loading
  trigger="open-side"
  message="Loading..."
  [duration]="3000"
  spinner="circles"
></ion-loading>

<ion-menu contentId="main-content">
  <ion-header class="flex header">
    <ion-toolbar class="tool" color="gray">
      <div class="user">
        <img src="../../assets/usuario (1).png" alt="" />
      </div>
      <div class="face">
        <ion-title>{{ userServices.name }}</ion-title>
        <ion-title>{{ userServices.email }}</ion-title>
      </div>
    </ion-toolbar>
    <ion-menu-toggle> 
      <!-- <ion-icon class="icon-x" name="close-outline"></ion-icon> -->
    </ion-menu-toggle>
  </ion-header>
  <ion-content class="ion-padding">
      <ul>
        <li class="opt">
          <ion-menu-toggle>
            <a id="open-side" expand="full" (click)="routeComponent('home')">
              <ion-icon class="icon" name="home-outline"></ion-icon>
              Inicio
            </a>
          </ion-menu-toggle>
        </li>
        <li class="opt">
          <ion-menu-toggle>
            <a id="open-side" expand="full" (click)="routeComponent('edit')"
              >
              <ion-icon class="icon" name="create-outline"></ion-icon>
              Editar (Mi Perfil)</a
            >
          </ion-menu-toggle>
        </li>
        <li class="opt">
          <ion-menu-toggle>
            <a id="open-side" expand="full" (click)="routeComponent('version')"
              >
              <ion-icon  class="icon" name="code-slash-outline"></ion-icon>
              Versión</a
            >
          </ion-menu-toggle>
        </li>
        <li class="opt">
          <ion-menu-toggle>
            <a id="open-side" expand="full" (click)="routeComponent('login', true)">
              <ion-icon class="icon" name="log-out-outline"></ion-icon>
              Cerrar Sesion 
            </a>
          </ion-menu-toggle>
        </li>
      </ul>
      
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="cursor">
      <a id="open-side" expand="full" (click)="routeComponent('home')"
        ><ion-title (click)="routeComponent('home')">Home</ion-title></a
      >
    </ion-toolbar>
  </ion-header>
</div>
