#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.online{
  padding: 6px;
  background: green;
  width: 10px;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
  height: 0px;
}
.item-cnt{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0px;

  img{
    width: 50px;
  }

  .info{
    margin-left: 10px;
    width: 100%;

    .times{
      display: flex;
      justify-content: space-between;
      margin-top: 4px;
      p{
        margin: 0px;
        color: #828282;
      }
    }

  }
}
.modal-time{
  background-color: #00000033;
}

ion-buttons > *{
  font-size: 12px;
}

ion-title{
  font-size: 14px !important
}

.phone{
  font-size: 12px;
  color: #ccc;
}
.flex {
  display: flex;
}
.logueaut {
  text-align: center;

}
ion-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#shadow-root .button-native {
  padding-inline-start: none;
  padding-inline-end: none;
}