<ion-content>
  <div class="container">
    <ion-title class="ion-no-padding ion-text-center">Registrese</ion-title>
    <p class="ion-text-center">Introduzca los siguientes datos para registrar el nuevo integrante</p>
    <form [formGroup]="formRegister" class="ion-margin">
      <div class="item">
        <ion-input formControlName="email" label="Usuario del Admin" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
      <div class="item">
        <ion-input formControlName="password" label="Clave del Admin" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
      <div class="item">
        <ion-input formControlName="name" label="Nombre" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
      <div class="item">
        <ion-input formControlName="lastname" label="Apellido" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
      <div class="item">
        <ion-input formControlName="position" label="Puesto" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
      <div class="item">
        <ion-input formControlName="role" label="Rol" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
      <div class="item">
        <ion-input formControlName="id" label="ID / Cedula" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
      <div class="item">
        <ion-input formControlName="phone" label="Telefono" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
      </div>
    </form>
    <ion-button expand="full" (click)="signUp()" class="ion-margin">Registrarse</ion-button>
    <p class="ion-text-center">Tienes cuenta? <a (click)="navigate('login')" class="text-decoration">Inicie sesion</a></p>
  </div>
</ion-content>